# Instrucciones

"Identificar la columna que tiene muchos valores nulos y eliminar dicha columna de nuestro dataframe"

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('empleados.csv', delimiter=";")

In [3]:
# Primero mostramos la forma de los datos que recibimos
print(df)
print(df.shape)

        Nombre  Apellido       Sexo   Estado_Civil  Edad  Experiencia  \
0    Alexandro       NaN  Masculino     Soltero(a)  22.0          3.0
1       Carlos       NaN  Masculino      Casado(a)  38.0         10.0
2       Felipa       NaN   Femenino     Soltero(a)  26.0          5.0
3       Daniel       NaN  Masculino      Casado(a)  35.0         10.0
4         John       NaN  Masculino      Casado(a)  35.0         13.0
..         ...       ...        ...            ...   ...          ...
246       Jose       NaN  Masculino      Casado(a)  30.0          6.0
247    Marcelo       NaN  Masculino  Divorciado(a)  44.0         15.0
248       Eric       NaN        NaN      Casado(a)  25.0          7.0
249       Marc       NaN        NaN      Casado(a)  24.0          2.0
250    Leandro       NaN  Masculino      Casado(a)  37.0         11.0

     Salario Gerencia          Departamento
0     2423.0       No            Publicidad
1     3132.0       Sí                   NaN
2     2639.0       No             Comercial
3     3122.0       No             Comercial
4     3431.0       Sí  Servicios al cliente
..       ...      ...                   ...
246   2760.0       No  Servicios al cliente
247   3616.0       No                    IT
248   2880.0       Sí      Recursos Humanos
249   2172.0       No              Producto
250   3245.0       No              Finanzas

[251 rows x 9 columns]
(251, 9)

In [4]:
# Se realiza la sumatoria del número de datos faltantes
nan_counts = df.isnull().sum()
print(nan_counts)

Nombre            6
Apellido        251
Sexo             37
Estado_Civil      4
Edad             61
Experiencia       4
Salario           6
Gerencia         21
Departamento     12
dtype: int64

In [5]:
# Se comparan los valores faltantes de cada columna
max_nan = 0
for column, count in nan_counts.iteritems():
    if count > max_nan:
        max_nan = count
        max_column = column
        
print(f"Column with the most NaN values: {max_column}")

Column with the most NaN values: Apellido

In [6]:
# Se elimina la columna con mayor numero de datos faltantes
df = df.drop(max_column, axis=1)

In [7]:
# Se muestra nuevamente la forma del dataframe
print(df)
print(df.shape)

        Nombre       Sexo   Estado_Civil  Edad  Experiencia  Salario Gerencia  \
0    Alexandro  Masculino     Soltero(a)  22.0          3.0   2423.0       No
1       Carlos  Masculino      Casado(a)  38.0         10.0   3132.0       Sí
2       Felipa   Femenino     Soltero(a)  26.0          5.0   2639.0       No
3       Daniel  Masculino      Casado(a)  35.0         10.0   3122.0       No
4         John  Masculino      Casado(a)  35.0         13.0   3431.0       Sí
..         ...        ...            ...   ...          ...      ...      ...
246       Jose  Masculino      Casado(a)  30.0          6.0   2760.0       No
247    Marcelo  Masculino  Divorciado(a)  44.0         15.0   3616.0       No
248       Eric        NaN      Casado(a)  25.0          7.0   2880.0       Sí
249       Marc        NaN      Casado(a)  24.0          2.0   2172.0       No
250    Leandro  Masculino      Casado(a)  37.0         11.0   3245.0       No

             Departamento
0              Publicidad
1                     NaN
2               Comercial
3               Comercial
4    Servicios al cliente
..                    ...
246  Servicios al cliente
247                    IT
248      Recursos Humanos
249              Producto
250              Finanzas

[251 rows x 8 columns]
(251, 8)