# Instrucciones

"Encontrar y eliminar las filas que continen valores nulos dentro de nuestro dataframe"

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('empleados.csv', delimiter=";")

In [3]:
# Primero mostramos la forma de los datos que recibimos
print(df.head)
print(df.shape)

<bound method NDFrame.head of         Nombre  Apellido       Sexo   Estado_Civil  Edad  Experiencia  \
0    Alexandro       NaN  Masculino     Soltero(a)  22.0          3.0
1       Carlos       NaN  Masculino      Casado(a)  38.0         10.0
2       Felipa       NaN   Femenino     Soltero(a)  26.0          5.0
3       Daniel       NaN  Masculino      Casado(a)  35.0         10.0
4         John       NaN  Masculino      Casado(a)  35.0         13.0
..         ...       ...        ...            ...   ...          ...
246       Jose       NaN  Masculino      Casado(a)  30.0          6.0
247    Marcelo       NaN  Masculino  Divorciado(a)  44.0         15.0
248       Eric       NaN        NaN      Casado(a)  25.0          7.0
249       Marc       NaN        NaN      Casado(a)  24.0          2.0
250    Leandro       NaN  Masculino      Casado(a)  37.0         11.0

     Salario Gerencia          Departamento
0     2423.0       No            Publicidad
1     3132.0       Sí                   NaN
2     2639.0       No             Comercial
3     3122.0       No             Comercial
4     3431.0       Sí  Servicios al cliente
..       ...      ...                   ...
246   2760.0       No  Servicios al cliente
247   3616.0       No                    IT
248   2880.0       Sí      Recursos Humanos
249   2172.0       No              Producto
250   3245.0       No              Finanzas

[251 rows x 9 columns]>
(251, 9)

In [6]:
# Se determina el numero de filas que tienen al menos 5 elementos correctos
print(df[df.notna().sum(axis=1) >= 5].shape)

(246, 9)

In [7]:
# Se eliminan las filas que no cumplas con esa condición
df_actualizado = df.dropna(axis=0, thresh=5)
print(df_actualizado)

        Nombre  Apellido       Sexo   Estado_Civil  Edad  Experiencia  \
0    Alexandro       NaN  Masculino     Soltero(a)  22.0          3.0
1       Carlos       NaN  Masculino      Casado(a)  38.0         10.0
2       Felipa       NaN   Femenino     Soltero(a)  26.0          5.0
3       Daniel       NaN  Masculino      Casado(a)  35.0         10.0
4         John       NaN  Masculino      Casado(a)  35.0         13.0
..         ...       ...        ...            ...   ...          ...
246       Jose       NaN  Masculino      Casado(a)  30.0          6.0
247    Marcelo       NaN  Masculino  Divorciado(a)  44.0         15.0
248       Eric       NaN        NaN      Casado(a)  25.0          7.0
249       Marc       NaN        NaN      Casado(a)  24.0          2.0
250    Leandro       NaN  Masculino      Casado(a)  37.0         11.0

     Salario Gerencia          Departamento
0     2423.0       No            Publicidad
1     3132.0       Sí                   NaN
2     2639.0       No             Comercial
3     3122.0       No             Comercial
4     3431.0       Sí  Servicios al cliente
..       ...      ...                   ...
246   2760.0       No  Servicios al cliente
247   3616.0       No                    IT
248   2880.0       Sí      Recursos Humanos
249   2172.0       No              Producto
250   3245.0       No              Finanzas

[246 rows x 9 columns]